<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Judge</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/background.css">
  <link rel="stylesheet" href="/css/question_card.css">
</head>
<body>
  
  <header id="nav">
    <div id="logo">
      <img src="https://classroom.placewit.com/code/images/logowhite.png">
    </div>
    <div id="links">
      <ul>
        <li><a href="http://localhost:7777/dashboard">Dashboard</a></li>
        <li><a href="http://localhost:7777/myquestions">Questions</a></li>
        <li><a href="http://localhost:7777/mysubmissions">Submission</a></li>
        <li><a href="#" id="logout-btn">Logout</a></li>
      </ul>
    </div>
  </header>

  <main id="question-list">
    <div class="question-card">
      <h2 class="question-title">Add two integral numbers</h2>
      <button type="submit">Show</button>
    </div>

    <div class="question-card">
      <h2 class="question-title">Add two integral numbers</h2>
      <button type="submit">Show</button>
    </div>
    
    <div class="question-card">
      <h2 class="question-title">Add two integral numbers</h2>
      <div class="buttons">
        <button type="submit">Show</button>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/urls.js"></script>
  <script src="/js/Submissions.js"></script>
  <script src="/js/logout.js"></script>
</body>
</html>