* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #020631;
}

section {
    width: 500px;
    margin-top: 2rem;
}

main {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    height: 2rem;
    display: flex;
}

form input {
    width: 460px;
    padding-left: 10px;
}

.item, .edit-item {
    width: 100%;
    background-color: white;
    height: 2rem;
    margin-top: 10px;
}

.item .text {
    display: inline-block;
    margin-top: 5px;
    padding-left: 10px;
}

.buttons {
    float: right;
    height: 100%;
    display: flex;
}

.done {
    opacity: 0.5;
}

button {
    width: 40px;
    height: 100%;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

button:focus {
    outline: none;
}

#add-button {
    background-color: lightgray;
}

.done-button {
    background-color: #3ec282;
}

.edit-button {
    background-color: rgb(86, 62, 193);
}

.remove-button {
    background-color: #e72727;
}

input:focus {
    outline: none;
}
